/* ****************** VARIABLES ****************** */

$colors: (VeryDarkMagenta: hsl(300, 43%, 22%),
  SoftPink: hsl(333, 80%, 67%),
  DarkGrayishMagenta: hsl(303, 10%, 53%),
  LightGrayishMagenta: hsl(300, 24%, 96%),
  White: hsl(0, 0%, 100%));

$desktop: 1440px;
$predesktop: 1050px;
$tablet: 768px;

/* ****************** MIXINS ****************** */

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin predesktop {
  @media (min-width: #{$predesktop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

/* ****************** FUNCTIONS ****************** */

@function color($color-name) {
  @return map-get($colors, $color-name);
}

/* ****************** BASIC PREP ****************** */
body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  font-family: 'Spartan',
    sans-serif;
  font-size: 15px;
}

body {
  @include predesktop {
    width: 100%;
    padding: 0 15px;
  }

  @include desktop {
    width: 100%;
    padding: 100px 165px;
  }
}

/* ****************** HEADER PART ****************** */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @include predesktop {
    flex-direction: row;
  }

  &__h1 {
    font-weight: 700;
    font-size: 32px;
    color: color(VeryDarkMagenta);
    text-align: center;
    margin: 80px 0 24px 0;

    @include tablet {
      font-size: 45px;
    }

    @include predesktop {
      text-align: start;
    }
  }

  &__paragraph {
    color: color(DarkGrayishMagenta);
    text-align: center;
    margin: 5% 5% 45px 5%;

    @include predesktop {
      text-align: start;
      margin-left: 0;
      width: 75%;
    }
  }
}

/* ****************** HEADER PART -- RATING ****************** */
.header__rating {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rating {

  &__wraper {
    padding: 15px 0 18px 0;
    width: 90%;
    background-color: color(LightGrayishMagenta);
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: 500;
    color: color(VeryDarkMagenta);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include predesktop {
      width: 82%;
    }

    @include tablet {
      flex-direction: row;
    }

    &--third {
      margin-bottom: 50px;
    }

    @include desktop {
      &--second {
        margin-left: 15%;
      }

      &--third {
        margin-left: 30%;
      }
    }
  }

  &__stars {
    margin-bottom: 15px;

    @include tablet {
      margin: 0 33px 0 0;
    }

    & svg {
      margin-right: 9px;
    }
  }

}

/* ****************** MAIN PART ****************** */

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;

  @include predesktop {
    flex-direction: row;
  }
}

.article__section {
  background-color: color(VeryDarkMagenta);
  padding: 38px 32px;
  margin-bottom: 16px;
  border-radius: 20px;
  width: 72%;

  @include predesktop {
    margin: 0;


    &--first {
      margin-right: 30px;
    }

    &--second {
      margin-right: 30px;
      margin-top: 5%;
    }

    &--third {
      margin-top: 10%;
    }
  }
}

.person {
  margin-bottom: 29px;
  display: flex;
  justify-content: start;
  align-items: center;

  &__img {
    margin-right: 22px;
  }

  &__image {
    border-radius: 50%;
    height: 60px;
  }

  &__info {

    &--name {
      font-weight: 500;
      color: color(White);
      font-size: 15px;
    }

    &--verify {
      font-weight: 400;
      color: color(SoftPink);
      font-size: 15px;
    }
  }

  &__commentar {
    text-align: start;
    color: color(White);
  }
}